<div *ngIf="addQuestionForm" class="questionForm" (submit)="onSubmit()">
  <form [formGroup]="addQuestionForm" class="form">

    <!-- Dropdown for category -->
    <div>
        <label for="category">Category</label>
        &nbsp;
        <select formControlName="category" class="custom-select">
            <!-- <option selected disabled>--Please select category--</option> -->
            <option class="placeholder" selected value=""> -- Please Select Category -- </option>
            <option *ngFor="let category of categories" value="{{category}}">
                {{category}}
            </option>
        </select>
        <div *ngIf="addQuestionForm.controls.category.invalid && addQuestionForm.controls.category.touched">
            <small class="error" *ngIf="addQuestionForm.controls.question.errors?.required"><sup>*</sup>Required</small>
        </div>
    </div>

    &nbsp;

    <!-- Question Description -->
    <div>
      <label for="question">Question</label>
      <!-- <input type="text" formControlName="question" class="form-control" placeholder="Enter question here"> -->
      <textarea formControlName="question" class="form-control" placeholder="Enter question here"></textarea>
      <div *ngIf="addQuestionForm.controls.question.invalid && addQuestionForm.controls.question.touched">
        <small class="error" *ngIf="addQuestionForm.controls.question.errors?.required"><sup>*</sup>Required</small>
      </div>
    </div>

    &nbsp;

    <!-- Button to submit form -->
    <div>
      <label for="difficultyLevel">Difficulty Level</label>

      <div>
        <input type="radio" formControlName="difficultyLevel" value="low">
        <span>Low</span>
      </div>

      <div>
        <input type="radio" formControlName="difficultyLevel" value="medium">
        <span>Medium</span>
      </div>
      <div>
        <input type="radio" formControlName="difficultyLevel" value="difficult">
        <span>Difficult</span>
      </div>
    </div>

    <div *ngIf="addQuestionForm.controls.difficultyLevel.invalid">
      <small class="error" *ngIf="addQuestionForm.controls.difficultyLevel.errors?.required"><sup>*</sup>Please
        select one option</small>
    </div>

    &nbsp;
    
    <!-- Submit button -->
    <div>
      <button type="submit" class="btn btn-success" [disabled]="addQuestionForm.invalid">Submit Question</button>
    </div>
  </form>
</div>