.questionForm{
    padding-top: 20px;
}

textarea.ng-invalid.ng-touched,input.ng-invalid.ng-touched,select.ng-invalid.ng-touched{
    border: 1px solid red;
}

.error{
    color: red;
}

.custom-select {
    width: 220px;
}

.corrAnsCheckbox {
    padding-left: 50px;
}

textarea {
    resize: none;
}

label {
    font-size: 18px;
    font-weight: 500;
}

.scrollit  {
    overflow-y: auto;
    overflow-x: hidden;
    height: 71vh;
    top:0;
    border-bottom: 1px solid rgb(218, 213, 213)
}